<a href="https://colab.research.google.com/github/luckyHarry/cryptoai/blob/main/cryptoAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

testing whether the csv file can be loaded

In [ ]:
import pandas as pd

df=pd.read_csv('btcusdpartial.csv')

df.tail()

       Unnamed: 0                 time         open  ...  gua1h  gua1d  gua1d1h1m
20361     3225438  2021-02-24 15:08:00  49436.46521  ...      复      泰        泰复临
20362     3225439  2021-02-24 15:09:00  49310.00000  ...      复      泰        泰复临
20363     3225440  2021-02-24 15:10:00  49205.00000  ...      复      泰        泰复复
20364     3225441  2021-02-24 15:11:00  49059.00000  ...      复      泰        泰复颐
20365     3225442  2021-02-24 15:12:00  49062.00000  ...      复      泰        泰复益

[5 rows x 32 columns]

a gua object can turn wave shape into chinese 64 Gua . and also into latin charactor symbles to  feed for Gpt2

compare function return 0 if <,return 1 if .>=

In [ ]:
def compare(x,y):
  if (x<y):
    return 0
  else :
    return 1

In [ ]:
for time_frame in ['m','h','d']:
  
  for i,j,k in [[1,2,1],[2,3,2],[3,5,3],[5,8,4],[8,13,5],[13,21,6]]:
      df['yao{i}{t}'.format(i=k,t=time_frame)]=df.apply(lambda x : compare(x['vama{i}{t}'.format(i=i,t=time_frame)],x['vama{i}{t}'.format(i=j,t=time_frame)]),axis=1)
df.tail()

       Unnamed: 0                 time         open  ...  yao4d  yao5d  yao6d
20361     3225438  2021-02-24 15:08:00  49436.46521  ...      1      1      1
20362     3225439  2021-02-24 15:09:00  49310.00000  ...      1      1      1
20363     3225440  2021-02-24 15:10:00  49205.00000  ...      1      1      1
20364     3225441  2021-02-24 15:11:00  49059.00000  ...      1      1      1
20365     3225442  2021-02-24 15:12:00  49062.00000  ...      1      1      1

[5 rows x 50 columns]

intepret yao matrix to gua

In [ ]:
def gua(p1,p2,p3,p4,p5,p6):
  weight=p1+p2*2+p3*4+p4*8+p5*16+p6*32
  Gua=[[0, "kun","坤"],
    [1,"guai","夬"],
    [2,dayou,"大有"],
    [3,dazhuang,"大壮"],
    [4,xiaoxu,("小蓄")]
    [xu,("需")]
    [daxu,("大蓄")]
    [tai,("泰")]
    [lv,("履")]
    [dui,("兑")]
    [kui,("睽")]
    [guimei,("归妹")]
    [zhongfu,("中孚")]
    [jie,("节")]
    [sun,("损")]
    [lin,("临")]
    [tongren,("同人")]
    [ge,("革")]
    [li,("离")]
    [feng,("丰")]
    [jiaren,("家人")]
    [jiji,("既济")]
    ben,("贲")
    mingyi,("明夷")
    wuwang,("无妄")
    sui,("随")
    shike,("噬嗑")
    zhen,("震")
    yi,("益")
    tun,("屯")
    yi2,("颐")
    fu,("复")
    gou,("姤")
    daguo,("大过")
    ding,("鼎")
    heng,("恒")
    xun,("巽")
    jing,("井")
    gu,("蛊")
    sheng,("升")
    song,("讼")
    kun2,("困")
    weiji,("未济")
    jie,("解")
    huan,("涣")
    kan,("坎")
    meng,("蒙")
    shi,("师")
    dun,("遁")
    xian,("咸")
    lv2,("旅")
    xiaoguo,("小过")
    jian,("渐")
    jian2,("蹇")
    gen,("艮")
    qian2,("谦")
    pi,("否")
    cui,("萃")
    jin2,("晋")
    yu,("豫")
    guan,("观")
    bi,("比")
    bo,("剥")
    qian,("乾")]