<a href="https://colab.research.google.com/github/luckyHarry/cryptoai/blob/main/%E2%80%9CcryptoAI_ipynb%E2%80%9D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

testing whether the csv file can be loaded

In [20]:
import pandas as pd

df=pd.read_csv('btcusdpartial.csv')

df.tail()

       Unnamed: 0                 time         open  ...  gua1h  gua1d  gua1d1h1m
20361     3225438  2021-02-24 15:08:00  49436.46521  ...      复      泰        泰复临
20362     3225439  2021-02-24 15:09:00  49310.00000  ...      复      泰        泰复临
20363     3225440  2021-02-24 15:10:00  49205.00000  ...      复      泰        泰复复
20364     3225441  2021-02-24 15:11:00  49059.00000  ...      复      泰        泰复颐
20365     3225442  2021-02-24 15:12:00  49062.00000  ...      复      泰        泰复益

[5 rows x 32 columns]

a gua object can turn wave shape into chinese 64 Gua . and also into latin charactor symbles to  feed for Gpt2

compare function return 0 if <,return 1 if .>=

In [21]:
def compare(x,y):
  if (x>y):
    return 0
  else :
    return 1

In [22]:
for time_frame in ['m','h','d']:
  
  for i,j,k in [[1,2,1],[2,3,2],[3,5,3],[5,8,4],[8,13,5],[13,21,6]]:
      df['yao{i}{t}'.format(i=k,t=time_frame)]=df.apply(lambda x : compare(x['vama{i}{t}'.format(i=i,t=time_frame)],x['vama{i}{t}'.format(i=j,t=time_frame)]),axis=1)
df.tail()

       Unnamed: 0                 time         open  ...  yao4d  yao5d  yao6d
20361     3225438  2021-02-24 15:08:00  49436.46521  ...      0      0      0
20362     3225439  2021-02-24 15:09:00  49310.00000  ...      0      0      0
20363     3225440  2021-02-24 15:10:00  49205.00000  ...      0      0      0
20364     3225441  2021-02-24 15:11:00  49059.00000  ...      0      0      0
20365     3225442  2021-02-24 15:12:00  49062.00000  ...      0      0      0

[5 rows x 50 columns]

intepret yao matrix to gua

In [23]:
def gua(p1,p2,p3,p4,p5,p6):
  weight=p1+p2*2+p3*4+p4*8+p5*16+p6*32
  Gua=[[0, "kun","坤"],
    [1,"guai","夬"],
    [2,"dayou","大有"],
    [3,"dazhuang","大壮"],
    [4,"xiaoxu","小蓄"],
    [5,"xu","需"],
    [6,"daxu","大蓄"],
    [7,"tai","泰"],
    [8,"lv","履"],
    [9,"dui","兑"],
    [10,"kui","睽"],
    [11,"guimei","归妹"],
    [12,"zhongfu","中孚"],
    [13,"jie","节"],
    [14,"sun","损"],
    [15,"lin","临"],
    [16,"tongren","同人"],
    [17,"ge","革"],
    [18,"li","离"],
    [19,"feng","丰"],
    [20,"jiaren","家人"],
    [21,"jiji","既济"],
    [22,"ben","贲"],
    [23,"mingyi","明夷"],
    [24,"wuwang","无妄"],
    [25,"sui","随"],
    [26,"shike","噬嗑"],
    [27,"zhen","震"],
    [28,"yi","益"],
    [29,"tun","屯"],
    [30,"yi2","颐"],
    [31,"fu","复"],
    [32,"gou","姤"],
    [33,"daguo","大过"],
    [34,"ding","鼎"],
    [35,"heng","恒"],
    [36,"xun","巽"],
    [37,"jing","井"],
    [38,"gu","蛊"],
    [39,"sheng","升"],
    [40,"song","讼"],
    [41,"kun2","困"],
    [42,"weiji","未济"],
    [43,"jie","解"],
    [44,"huan","涣"],
    [45,"kan","坎"],
    [46,"meng","蒙"],
    [47,"shi","师"],
    [48,"dun","遁"],
    [49,"xian","咸"],
    [50,"lv2","旅"],
    [51,"xiaoguo","小过"],
    [52,"jian","渐"],
    [53,"jian2","蹇"],
    [54,"gen","艮"],
    [55,"qian2","谦"],
    [56,"pi","否"],
    [57,"cui","萃"],
    [58,"jin2","晋"],
    [59,"yu","豫"],
    [60,"guan","观"],
    [61,"bi","比"],
    [62,"bo","剥"],
    [63,"qian","乾"]]
  return Gua[weight]

In [27]:
for time_frame in ['m','h','d']:
  df['gua{t}'.format(t=time_frame)]=df.apply(lambda x : gua(x['yao1{t}'.format(t=time_frame)],x['yao2{t}'.format(t=time_frame)],x['yao3{t}'.format(t=time_frame)],x['yao4{t}'.format(t=time_frame)],x['yao5{t}'.format(t=time_frame)],x['yao6{t}'.format(t=time_frame)]),axis=1 )

df.head()

   Unnamed: 0                 time  ...             guah         guad
0     3205077  2021-02-10 11:47:00  ...  [33, daguo, 大过]  [0, kun, 坤]
1     3205078  2021-02-10 11:48:00  ...  [33, daguo, 大过]  [0, kun, 坤]
2     3205079  2021-02-10 11:49:00  ...  [33, daguo, 大过]  [0, kun, 坤]
3     3205080  2021-02-10 11:50:00  ...  [33, daguo, 大过]  [0, kun, 坤]
4     3205081  2021-02-10 11:51:00  ...  [33, daguo, 大过]  [0, kun, 坤]

[5 rows x 53 columns]